<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrunoFood</title>
    <link rel="icon" type="image/x-icon" href="{% static 'App1/assets/img/icon.png' %}" />
    <link href="{% static 'App1/css/style.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap" rel="stylesheet">

    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body style="background-color: #fdd2a9fd;">

    <!-- NAVBAR -->
    <nav class="navbar navbar-light static-top" style="background-color: #ffdcbbaf;">
        <div class="container">

            <a class="btn btn-dark" href="{% url 'Inicio' %}">Inicio</a>

            {% if request.user.is_authenticated %}
                <a class="btn btn-dark" href="{% url 'Home' %}">Home</a>
                <a class="btn btn-dark" href="{% url 'LeerRecomendaciones' %}">Recomendaciones</a>
                <a class="btn btn-dark" href="{% url 'LeerResaurantes' %}">Restaurantes</a>
                <a class="btn btn-dark" href="{% url 'editarUsuarios' %}">Editar Usuario</a>
                <a class="btn btn-dark" href="{% url 'Logout' %}">Cerrar sesion</a>
                <h5>Hola {{user.username}}</h5>
            {% else %}
                    <a class="btn btn-dark" href="{% url 'Login' %}">Ingresar</a>
                    <a class="btn btn-dark" href="{% url 'Registro' %}">Registrarse</a>
                
            {% endif %}
        </div>
    </nav>
    <div class="conbtainer-fluid" id="cont-home">
        <div class="cont-img">
            <img src="{% static 'App1/assets/img/yo.jpg' %}" class="card-img3" alt="..." width="400px" height="400px" style="border-radius: 60%;">
    
        </div>
        <div class="cont-tex">
            <h5>Hola Soy Bruno</h5>
            <p>Esta es mi pagina web para el proyecto final de Coderhouse</p>
            <button type="button" class="btn btn-dark" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Desarrollo Web FullStack en Python">
                El curso que hice
              </button>
        </div>
  
    </div>

    <div class="cont-card" style="display: flex; margin-left: 750px;">
        <div class="card border-dark mb-3" style="max-width: 18rem; background-color: #ffdcbbaf; margin-left: 30px;">
            <div class="card-header">Educacion</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Desarrollador Pyhton</h5>
              <p class="card-text">Desarrollador Python en Coderhouse.</p>
            </div>
          </div>
          <div class="card border-dark mb-3" style="max-width: 18rem; background-color: #ffdcbbaf; margin-left: 30px;">
            <div class="card-header">Educacion</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Ingles Intermedio</h5>
              <p class="card-text">Finalizado el B-1+ de Ingles en Cambrigde.</p>
            </div>
          </div>
          <div class="card border-dark mb-3" style="max-width: 18rem; background-color: #ffdcbbaf; margin-left: 30px;">
            <div class="card-header">Educacion</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Data Analytics</h5>
              <p class="card-text">Data Analytics en Coderhouse.</p>
            </div>
          </div>

    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
</body>
</html>